*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f4f6f9;
  padding:20px;
}

header{
  text-align:center;
  margin-bottom:30px;
}

header h1{
  font-size:32px;
  color:#222;
}

.upload-section{
  margin-bottom:20px;
  text-align:center;
}

.upload-section input{
  padding:10px;
}

.filters{
  margin-bottom:30px;
  text-align:center;
}

.filters select{
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
}

.kpi-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-bottom:40px;
}

.card{
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  text-align:center;
}

.card h3{
  margin-bottom:10px;
  color:#555;
}

.card p{
  font-size:28px;
  font-weight:bold;
  color:#1e88e5;
}

.charts{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
}

.chart-box{
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.chart-box h2{
  margin-bottom:20px;
  text-align:center;
}

canvas{
  width:100% !important;
  height:350px !important;
}

@media(max-width:768px){

  .charts{
    grid-template-columns:1fr;
  }

}
